.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 60px;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
